header {
  background-color: #008000;
  width: 100%;
  height: 100px;
}
.logo {
    font-size: 3em;
    font-family: Lucida Console;
    font-style: italic;
    float: left;
    padding: 15px;

}
.search {
  float: center;
  display: block;
  padding: 10px;
  background: #e0e0d1;
  width: auto;
  height:auto;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #003366;
}

body {
  /*background-image: url("library1.jpg");*/
  color: #003366;
  width: 100%;

}
h3 {
  margin-left: 10px;
  border-radius: 5px;
  /*background: #e0e0d1;*/
  padding: 10px;
  /*width: 200px;
  height: auto;*/
}

ul li a {
  text-decoration: none;
  display: block;
  color: #003366;
  width: 150px;
  height: 15px;
  text-align: center;
}

ul li {
  list-style-type: none;
  float: right;
  font-size: 1.25em;
  margin-top: 40px;
  margin-right: 100px;
}

input[type=text] {
    width: 700px;
    padding: 10px;
    /*background: #e0e0d1;*/
    height: auto;
    margin-left: 10px;
  }

input[type=submit] {
    margin-left: 20px;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    /*background: #e0e0d1;*/
    width: 400px;
    height:auto;
    text-align: center;
  }

table {
  border: 1px solid #003366;
  text-align: center;
  width: auto;
  margin-bottom: 10px;
  margin-top: 50px;
  margin-left: 10px;
  padding: 10px;
  /*background: #e0e0d1;*/
  height: auto;
}
td {
  border: 1px solid #003366;
  text-align: left;
  padding-left: 10px;
}
th{
  column-span: all;
  border: 1px solid #003366;
}
