header {
  background-color: #e68900;
  width: 100%;
  height: 100px;
}

.hyperlink {
  position: absolute;
   top: 55%;
   left: 55%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
}
p {
  margin-left: 200px;
  margin-top: 100px;
  font-size: 1.5em;
  font-family: Lucida Console;
  font-style: italic;
}
.logo {
    font-size: 3em;
    font-family: Lucida Console;
    font-style: italic;
    float: left;
    padding: 15px;

}
.search {
  float: center;
  display: block;
  padding: 10px;
  background: #ebf0fa;
  width: auto;
  height:auto;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #005580;
}

body {
  color: #005580;
  /*width: 100%;*/
}

h3 {
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px;
}

ul li a {
  text-decoration: none;
  display: block;
  color: #005580;
  width: 150px;
  height: 15px;
  text-align: center;
}

ul li {
  list-style-type: none;
  float: right;
  font-size: 1.25em;
  margin-top: 40px;
  margin-right: 100px;
}

input[type=text] {
    width: 800px;
    padding: 10px;
    height: auto;
    margin-left: 10px;
  }

input[type=submit] {
    margin-left: 20px;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    width: 400px;
    height:auto;
    text-align: center;
  }

table {
  border: 1px solid #005580;
  text-align: center;
  width: auto;
  margin-bottom: 10px;
  margin-top: 50px;
  margin-left: 10px;
  padding: 10px;
  height: auto;
}
caption {
  border: 1px solid #005580;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1em;
  text-transform: capitalize;
  font-weight: bold;
  width:350px;
  height:auto;
}
td {
  border: 1px solid #005580;
  text-align: left;
  padding: 5px;
  width:auto;
}
th{

  border: 1px solid #005580;
  padding-left: 5px;
  padding-right: 5px;
}
